.fixed-header{
    min-height: 200px;         
}

.header-logo{
    background: url(../img/header-background.jpg) 50% no-repeat;
    background-size: cover;
    height: 200px;
    width: auto;
    margin: auto auto 10px;
    background-position: bottom;
}

.header-content {
    text-align: center;            
    justify-content: center;
    padding: 0;
}

.header-content > span {
    text-align: center; 
    font-family: Roboto;
}

.header-menu {
    bottom: 0;
}